.students{
    display: flex;
    justify-content: center;
}

.studentHeader{
    display: flex;
    justify-content: center;
}

.studentDetails{
    display: flex;
   height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  
}