.components{
  display: flex;
  justify-content: center;
}

.ClassComponent{
  flex: 1;
  background-color: aqua;
}

.StudentComponent{
  flex: 1;
  height: 100vh;
  background-color:bisque
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forwardBtn{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-bottom: 200px;
  cursor: pointer;
}

.backBtn{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}